/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Shared Styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary {
    border-radius: 8px;
    background-color: #ff900e;
    padding: 20px 25px;
    color: #fff;
    border: none;
    font-size: 1.25rem; /* 18px */
    font-weight: 600;
    cursor: pointer;
}
.text-light-gray {
    color: #727272;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li:last-child {
    margin-right: 0;
}
nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 120px;
    padding-left: 120px;
}
.banner-description {
    margin-bottom: 30px;
}
.banner img {
    margin-top: 40px;
    width: 100%;
}

/* main styles */
main {
    max-width: 980px;
    margin: 70px auto;
}

/* Teams styles */
.teams-container {
    display: flex;
    align-items: center;
}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-img-container img {
    width: 230px;
    height: 230px;
}
.teams-content {
    /* padding-right: 70px;
    padding-left: 70px; */
    padding-right: 0px;
    padding-left: 50px;
}
.teams-title {
    font-size: 2.8rem;
}
.teams-title .quick-list {
    /* color: #727272; */
    font-weight: 500;
}
.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}
.team-description {
    margin: 25px 0px;
}

/* Facts Section */
.facts-sub {
    margin-top: 100px;
}
.facts-description {
    padding-right: 420px;
    margin-top: 24px;
}
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 120px;
}
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sponsor Sections Starts */
.sponsors {
    text-align: center;
}
.sponsors-description {
    margin-top: 24px;
    padding: 0px 210px;
} 
.sponsor-image-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.sponsor-image-container img {
    width: 165px;
}

/* Responsive Media Queries */
/* Mobile Devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    .banner-title {
        padding-top: 30px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .facts-sub {
        margin-top: 80px;
        padding: 0 30px;
    }
    .facts-description {
        padding-right: 0px;
        margin-top: 24px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-image-container {
        flex-direction: column;
    }
    .nav-title {
        margin-bottom: 30px;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container {
        margin-top: 40px;
        padding: 0px 30px;
    }
    .facts-card-container {
        gap: 20px;
        margin-bottom: 100px;
    }
    .sponsors-description {
        margin-top: 24px;
        padding: 0px;
    }
}

/* Tablets or Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }
    .banner-title {
        padding-top: 30px;
        padding-right: 100px;
        padding-left: 100px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-image-container {
        flex-direction: column;
    }
    .nav-title {
        margin-bottom: 30px;
    }
    .facts-sub {
        margin-top: 80px;
        padding: 0 30px;
    }
    .facts-description {
        padding-right: 300px;
        margin-top: 24px;
    }
    .teams-content, .facts-card-container {
        margin-top: 40px;
        padding: 0px 30px;
    }
    .facts-card-container {
        gap: 20px;
    }
}